<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <description>Shiro安全配置</description>
    <bean id="shiroDbRealm" class="app.config.shiro.ShiroDbRealm">
        <!--<property name="accountService" ref="accountService" />-->

    </bean>
    <!-- Shiro's main business-tier object for web-enabled applications -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 数据库认证的实现 org.springrain.frame.shiro.ShiroDbRealm -->
        <property name="realm" ref="shiroDbRealm"/>
        <property name="cacheManager">
            <bean class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>
        </property>
    </bean>

    <!-- shiro的主过滤器,beanId 和web.xml中配置的filter name需要保持一致 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean"
    >
        <!-- 安全管理器 -->
        <property name="securityManager" ref="securityManager"/>
        <!-- 默认的登陆访问url -->
        <property name="loginUrl" value="/admin/login"/>
        <!-- 登陆成功后跳转的url -->
        <property name="successUrl" value="/admin/index"/>
        <!-- 没有权限跳转的url -->
        <property name="unauthorizedUrl" value="/admin/login"/>
        <!-- 访问地址的过滤规则,从上至下的优先级,如果有匹配的规则,就会返回,不会再进行匹配 -->
        <property name="filterChainDefinitions">
            <value>
                /public/** = anon
                /login = anon
                /favicon.ico = anon
                /admin/logout = logout
                /admin/** = authc
            </value>
        </property>
        <property name="filters">
            <map>
                <entry key="authc">
                    <bean class="app.config.shiro.DwzFormAuthenticationFilter"/>
                </entry>
            </map>
        </property>
    </bean>
    <!-- Shiro生命周期处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>